APP_NAME=CiberEskola
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://ciberskola.eus

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=warning

DB_CONNECTION=mysql
DB_HOST=192.168.30.10
DB_PORT=3306
DB_DATABASE=centro_educativo
DB_USERNAME=ciberskola_app
DB_PASSWORD=CAMBIAR_POR_UN_SECRETO

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_SECURE_COOKIE=true
SESSION_HTTP_ONLY=true
SESSION_SAME_SITE=lax

MAIL_MAILER=log
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="no-reply@ciberskola.eus"
MAIL_FROM_NAME="${APP_NAME}"
